@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --font-family-primary: "Barlow Condensed", sans-serif;
  --font-family-secondary: "Bellefair", serif;
  --swiper-theme-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: var(--font-family-primary);
  overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-title {
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-left: 11.5rem;
  letter-spacing: 5px;
}

.heading-title span {
  font-weight: 600;
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.2);
}

/* Header component */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding-left: 2.5rem;
}

hr {
  margin: 0;
  border: none;
  width: 30rem;
  height: 0.1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-list {
  width: 50vw;
  background-color: transparent;
  backdrop-filter: blur(20px);
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-list li {
  list-style: none;
  padding: 2rem 0;
  letter-spacing: 3px;
  font-size: 14px;
}

.navbar-list li > a {
  color: #fff;
  text-transform: uppercase;
  padding: 2rem 0;
}

.navbar-list li > a span {
  font-weight: 600;
  margin-right: 4px;
}

.navbar-list li > a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.navbar-list li > a.active {
  border-bottom: 2px solid #fff;
}

.mobile-navbar-btn {
  display: none;
}

/* Home page */
.home-container {
  background-image: url("/assets/home/background-home-desktop.jpg");
  padding-top: 20rem;
}

.hero-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.home-content {
  width: 50%;
}

.home-title {
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.home-title span {
  display: block;
  font-size: 9.2rem;
  font-family: var(--font-family-secondary);
  margin: 20px 0;
}

.home-description {
  width: 60%;
  font-size: 1.2rem;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.765);
  font-weight: 300;
}

.explore-content a {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: var(--font-family-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.explore-content a::before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  transition: scale 0.5s ease-in-out;
}

.explore-content a:hover::before {
  scale: 1.5;
}

/* Destination page */
.destination-container {
  background-image: url("/assets/destination/background-destination-desktop.jpg");
  padding-top: 10rem;
}

.planet-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
  width: 72%;
  margin: 5rem auto 0;
}

.planet-content-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

.planet-content-navigation .tab {
  padding: 10px 0;
  cursor: pointer;
}

.planet-content-navigation .tab:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.planet-content-navigation .tab.destination-active {
  border-bottom: 2px solid #fff;
}

.planet-content-info h2 {
  font-size: 6.5rem;
  font-family: var(--font-family-secondary);
  font-weight: 300;
  text-transform: uppercase;
  margin: 2rem 0 1rem;
}

.planet-description {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 200;
  color: rgb(255, 255, 255, 0.95);
  width: 85%;
  margin-bottom: 2.5rem;
  letter-spacing: 1px;
}

.planet-content-info hr {
  width: 90%;
}

.planet-content-info-details {
  display: flex;
  gap: 5rem;
  margin-top: 1.2rem;
  text-transform: uppercase;
}

.planet-content-info-details p {
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 200;
}

.planet-content-info-details span {
  display: block;
  font-size: 1.8rem;
  font-family: var(--font-family-secondary);
  margin-top: 12px;
}

/* Crew page */
.crew-container {
  background-image: url("/assets/crew/background-crew-desktop.jpg");
  padding-top: 10rem;
}

.crew-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.crew-content-info h2 {
  font-family: var(--font-family-secondary);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.8rem;
}

.crew-content-info h2 span {
  font-size: 1.8rem;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 1rem;
}

.crew-content-info p {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 200;
  color: rgba(215, 237, 255, 0.95);
  width: 65%;
  margin-bottom: 2.5rem;
  letter-spacing: 1px;
}

.crew-image img {
  height: 73vh;
}

/* Swiperjs stylings */
.swiper-pagination {
  text-align: left;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
  left: 12rem;
  bottom: 8rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-left: 1rem;
}

/* Technology page */
.technology-container {
  background-image: url("/assets/technology/background-technology-desktop.jpg");
  padding-top: 10rem;
}

.technology-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.technology-content-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  width: 54%;
}

.technology-navigation-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.technology-navigation-container .tab {
  width: 58px;
  height: 58px;
  border-radius: 100%;
  background: transparent;
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  font-family: var(--font-family-secondary);
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.technology-navigation-container .tab.active {
  background-color: #fff;
  color: #000;
}

.technology-content-info h4 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.technology-content-info h4 span {
  font-size: 3rem;
  font-weight: 300;
  font-family: var(--font-family-secondary);
  display: block;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.technology-content-info p {
  width: 58%;
  line-height: 2rem;
  letter-spacing: 1px;
  font-weight: 300;
}

/* Tablet Screen */
@media screen and (width <= 1024px) {
  header nav {
    margin: 0;
  }

  hr {
    display: none;
  }

  .navbar-list {
    width: 62vw;
    background-color: #131522;
  }

  .navbar-list li {
    padding: 3rem 0;
    font-size: 16px;
  }

  .navbar-list li > a {
    padding: 3rem 0;
  }

  .navbar-list li > a.active {
    border-bottom: 3px solid #fff;
  }

  .navbar-list li > a span {
    display: none;
  }

  .home-container {
    background-image: url("/assets/home/background-home-tablet.jpg");
    padding-top: 15rem;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12rem;
  }

  .home-content {
    width: auto;
  }

  .home-title {
    font-size: 1.4rem;
  }

  .home-description {
    width: 50%;
    margin: 0 auto;
  }

  .explore-content a {
    width: 250px;
    height: 250px;
    font-size: 2.2rem;
  }

  .heading-title {
    margin-left: 2.8rem;
  }

  .destination-container {
    background-image: url("/assets/destination/background-destination-tablet.jpg");
  }

  .planet-container {
    flex-direction: column;
    align-items: center;
    width: auto;
    gap: 5rem;
  }

  .planet-image img {
    width: 350px;
  }

  .planets-content {
    text-align: center;
  }

  .planet-content-navigation {
    justify-content: center;
  }

  .planet-description {
    margin: 0 auto 2.5rem;
  }

  .planet-content-info-details {
    justify-content: center;
  }

  .crew-container {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
  }

  .crew-content {
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
  }

  .crew-content-info {
    text-align: center;
    margin-top: 5rem;
  }

  .crew-content-info p {
    margin: 1.2rem auto 2.5rem;
    width: auto;
    padding: 0 2rem;
  }

  .crew-image img {
    height: 48vh;
  }

  .swiper-pagination {
    text-align: center;
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 20rem;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .technology-container {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
    height: 100vh;
  }

  .technology-content {
    flex-direction: column-reverse;
    margin-top: 4rem;
    gap: 4rem;
  }

  .technology-content-container {
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .technology-navigation-container {
    flex-direction: row;
  }

  .technology-content-info {
    text-align: center;
  }

  .technology-content-info p {
    width: 80%;
    margin: 0 auto;
  }

  .technology-image-container {
    width: 100%;
  }

  .technology-image-container img {
    width: 100%;
  }
}

@media screen and (width <= 768px) {
  section {
    height: auto;
    padding-bottom: 2rem;
  }
}

/* Mobile Screen */
@media screen and (width <= 520px) {
  header nav {
    padding: 2rem;
  }

  .navbar-list {
    position: fixed;
    inset: 0 0 0 30%;
    background: rgba(255, 255, 255, 0.2);
    width: auto;
    z-index: 9;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10rem 0;
    gap: 2rem;
    transform: translate(100%);
    transition: 500ms ease-in-out;
  }

  .navbar-list li,
  .navbar-list li > a {
    font-size: 1.2rem;
    padding: 0;
  }

  .navbar-list li > a {
    padding-left: 2rem;
    border-left: 5px solid transparent;
  }

  .navbar-list li > a span {
    display: inline-block;
  }

  .navbar-list li > a.active {
    border-bottom: none;
    border-left: 5px solid #fff;
  }

  .mobile-navbar-btn {
    display: block;
    z-index: 11;
  }

  .navbar-list.active {
    transform: translate(0);
  }

  .home-container {
    background-image: url("/assets/home/background-home-mobile.jpg");
    padding-top: 10rem;
  }

  .home-title {
    font-size: 1.2rem;
  }

  .home-title span {
    font-size: 5.6rem;
  }

  .home-description {
    width: 85%;
  }

  .heading-title {
    margin-left: 2rem;
    font-size: 1.2rem;
  }

  .destination-container {
    background-image: url("/assets/destination/background-destination-mobile.jpg");
    padding-top: 8rem;
  }

  .planet-container {
    margin-top: 3rem;
    gap: 1rem;
  }

  .planet-image img {
    width: 250px;
  }

  .planet-content-info h2 {
    font-size: 4rem;
  }

  .planet-content-info hr {
    display: block;
    margin: auto;
  }

  .planet-description {
    margin-bottom: 2rem;
  }

  .planet-content-info-details {
    margin-top: 2rem;
    flex-direction: column;
    gap: 2rem;
  }

  .crew-container {
    background-image: url("/assets/crew/background-crew-mobile.jpg");
    padding-top: 8rem;
    height: 100vh;
  }

  .crew-content {
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
  }

  .crew-image img {
    height: 30vh;
  }

  .crew-content-info {
    margin-top: 3rem;
  }

  .crew-content-info h2 {
    font-size: 2rem;
  }

  .crew-content-info h2 span {
    font-size: 1.4rem;
  }

  .crew-content-info p {
    padding: 0 0.8rem;
    font-size: 1.1rem;
  }

  .technology-container {
    background-image: url("/assets/technology/background-technology-mobile.jpg");
    padding-top: 8rem;
  }

  .technology-content {
    margin-top: 2.5rem;
    gap: 2rem;
  }

  .technology-content-container {
    gap: 2.5rem;
  }

  .technology-content-info h4 span {
    font-size: 2rem;
  }

  .technology-content-info p {
    width: 90%;
  }
}
